*{
    box-sizing: border-box;
}
body {
  
  font-size: 16px;
  font-family: "Karla", sans-serif;
}
.container {
  max-width: 1440px;
 margin: auto;
    border: solid 3px blue;
   
   
}
#main-header {
  background-color: white;
  width: 50%;
 /* margin: 50px auto;*/
  padding: 20px 50px;
  border: solid 3px red;

}
.main-green {
  color: hsl(179, 62%, 43%);
}
.bright-yellow {
  color: hsl(71, 73%, 54%);
}
.grayish-blue {
  color: hsl(218, 22%, 67%);
}
.white {
  color: white;
}
#info {
    border: solid 3px green;
  background-color: hsl(179, 62%, 43%);
  width: 50%;
  display: flex;
  padding: 20px 35px;
  margin-bottom: 34px;
  margin-left: 0;
  margin-right: 0;
  border: none;
 
}
.info-items{
    flex: 1;
    border: 2px red solid;
}
.main-btn {
  color: white;
  background-color: hsl(71, 73%, 54%);
  padding: 13px 10px;
  width: 100%;
  border-radius: 5px;
  border-style: none;
  margin-bottom: 13px;
}
.main-btn:hover{
    background-color: red;
}
.texto {
  color: white;
  line-height: 20px;
  font-weight: 400;
}
